.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #343434;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 110%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}